{% extends "adminlte/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Add Vehicle" %}{% endblock %}
{% block extra_head %}

{% endblock %}

{% block content %}
{#    <div class = "container">#}
{#    <div class = "well well-sm-8"></div>#}
{#    </div>#}
    <div class = "container">
        <div class = "well well-sm-8">
            <h1>{% trans "Add Vehicle" %}</h1>

    <form method="POST" action="/accounts/add_vehicle/">
    {% csrf_token %}
        {% load bootstrap %}
         {% for field in add_veh %}
                <div class="row">
                    <div class="col-md-2">
{#                        {{ field.label_tag }}#}

                        {{ field.errors }}
                        {{ field | bootstrap}}
                    </div>
                    <div class="col-md-10 pull-left">
                    </div>
                </div>
         {% endfor %}
{#        {{ add_veh |bootstrap}}#}
        <p><button class = "btn btn-primary" type="submit">Add Vehicle</button></p>
    </form>
    </div>
    </div>


{% endblock %}