{% extends "adminlte/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Add Vehicle" %}{% endblock %}
{% block extra_head %}

{% endblock %}

{% block content %}

    <h1 align="center">{% trans "Available Vehicle" %}</h1>
    <div class="list-group">
    {% for vehicle in borrow_vehicle %}
        <a class="list-group-item" href="{{ vehicle.get_absolute_url_borrow }}"  >
        <div data-toggle="popover" data-trigger="hover" data-content="Click to see details" >
{#        <p> <strong>License No: </strong>vehicle.license_no</p>#}
{#        <p> <strong>Chasis No: </strong>vehicle.chassis_no</p>#}
{#        <p> <strong>Owner: </strong>vehicle.user.username</p>#}
            <h4 class="list-group-item-heading"> <strong>Model: </strong>{{ vehicle.model }}</h4>
            <hr/>
            <p > <strong>Capacity: </strong>{{ vehicle.capacity }} ton</p>
            <p> <strong>Current Position: </strong>{{vehicle.place}} </p>
            </div>
        </a>
    {% endfor %}
    </div>
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();});
    </script>

{% if borrow_vehicle.has_other_pages %}
  <ul class="pagination">
    {% if borrow_vehicle.has_previous %}
      <li><a href="?page={{ borrow_vehicle.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in borrow_vehicle.paginator.page_range %}
      {% if borrow_vehicle.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ borrow_vehicle.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    <div align="center" style="margin-left:20px;margin-top:20px">

    </div>

{% endblock %}