{% extends "adminlte/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "BorrowVehicle" %}{% endblock %}
{% block extra_head %}

{% endblock %}

{% block content %}



<div class = container>
<div class = "well well-sm-8">
<h1>{% trans "Borrow Vehicle" %}</h1>
     <form method="POST" action="/accounts/borrow_vehicle/">
    {% csrf_token %}
        {% load bootstrap %}
         {% for field in borr_veh %}
                <div class="row">
                    <div class="col-md-2">

{#                        {{ field.label_tag }}#}
                        {% if field.help_text %}
{#                            <sup>{{ field.help_text }}</sup>#}
                        {% endif %}
                        {{ field.errors }}
                        {{ field | bootstrap}}
                    </div>
                    <div class="col-md-10 pull-left">
                    </div>
                </div>
         {% endfor %}
{#        {{ add_veh |bootstrap}}#}
        <p><button class = "btn btn-primary" type="submit">Search Vehicle</button></p>
 </form>
</div>
</div>

{% endblock %}