{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{##}
{#{% block head_title %}{% trans "Account Inactive" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<h1>{% trans "Account Inactive" %}</h1>#}
{##}
{#<p>{% trans "This account is inactive." %}</p>#}
{#{% endblock %}#}
{##}
{##}

{% extends "adminlte/base.html" %}
{% load i18n static %}

{% block body_class %}Account Inactive{% endblock %}

{% block body %}
    <div class="login-box">
        {% block head_title %}<h2> {% trans "Account Inactive" %}</h2>{% endblock %}#}

{#            <h1>{% trans "Account Inactive" %}</h1>#}

        <p>{% trans "This account is inactive." %}</p>
    </div>
{% endblock %}

{##}
{#{% extends "adminlte/base.html" %}#}
{#{% load i18n static %}#}
{#{% block head_title %}{% trans "Account Inactive" %}{% endblock %}#}
{##}
{#{% block body_class %}Account Inactive{% endblock %}#}
{##}
{#{% block body %}#}
{#    <h1>{% trans "Account Inactive" %}</h1>#}
{##}
{#<p>{% trans "This account is inactive." %}</p>#}
{#{% endblock %}#}