{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% block head_title %}{% trans "Change Password" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>{% trans "Change Password" %}</h1>#}
{#    <p>{% trans 'Your password is now changed.' %}</p>#}
{#{% endblock %}#}

{% extends "adminlte/base.html" %}
{% load i18n static %}
{% load account %}
{% block body_class %}Account Inactive{% endblock %}

{% block body %}
    <div class="login-box">
        {% block head_title %}{% trans "Account Inactive" %}{% endblock %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock %}