{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% load account %}#}
{##}
{#{% block head_title %}{% trans "Password Reset" %}{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    <h1>{% trans "Password Reset" %}</h1>#}
{#    {% if user.is_authenticated %}#}
{#    {% include "account/snippets/already_logged_in.html" %}#}
{#    {% endif %}#}
{##}
{#    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>#}
{##}
{#    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="{% trans 'Reset My Password' %}" />#}
{#    </form>#}
{##}
{#    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>#}
{#{% endblock %}#}


{% extends "adminlte/base.html" %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>ITMS</b>{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block login_errors %}
                {% if form.errors and not form.non_field_errors %}
                    <p class="alert alert-danger">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endif %}
            {% endblock login_errors %}

            {% block login_form %}
{##}
{##}
{#<form class="password_change" method="POST" action="{% url 'account_change_password' %}}">#}
{#{% load bootstrap3 %}#}
{#  {% csrf_token %}#}
{#{% load bootstrap %}#}
{##}
{#{{ form|bootstrap }}#}
{##}
{#  {% if redirect_field_value %}#}
{#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#  {% endif %}#}
{#  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#  <br/>#}
{#    <button class="primaryAction" type="submit" >{% trans "Change Password" %}</button>#}
{#</form>#}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
<h3>{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}



    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
{#        <input type="submit" value="{% trans 'Reset My Password' %}" />#}
     <button class="btn btn-primary" type="submit" name = "track" value="{% trans 'Reset My Password' %}" > Submit </button>

    </form>




            {% endblock login_form %}

        </div>
    </div>
{% endblock %}